<mfe-ui-button></mfe-ui-button>
<section class="pb-5">
    <div class="container-lg">

        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between my-4">

                    <h2 class="section-title">Best selling products</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-primary rounded-1">View All</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div
                    class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">

                    <div class="col" *ngFor="let item of products">
                        <mfe-product-card [product]="item" [showAddToCart]="true" (addToCart)="onAddToCart(item)"></mfe-product-card>
                    </div>

                </div>
                <!-- / product-grid -->


            </div>
        </div>
    </div>
</section>
