<mfe-storefront-hero-section></mfe-storefront-hero-section>
<mfe-storefront-category-section></mfe-storefront-category-section>
<mfe-storefront-best-selling-section-wrapper></mfe-storefront-best-selling-section-wrapper>
<mfe-storefront-banner-blocks></mfe-storefront-banner-blocks>
<mfe-storefront-featured-products></mfe-storefront-featured-products>
<mfe-storefront-newsletter-section></mfe-storefront-newsletter-section>
<mfe-product-best-selling-section></mfe-product-best-selling-section>
<mfe-storefront-latest-products></mfe-storefront-latest-products>
<mfe-storefront-latest-blog></mfe-storefront-latest-blog>
<mfe-storefront-download-app></mfe-storefront-download-app>
<mfe-storefront-search-tags></mfe-storefront-search-tags>
<mfe-storefront-features-section></mfe-storefront-features-section>
