<storefront-dashboard-header></storefront-dashboard-header>
<storefront-hero-section></storefront-hero-section>
<storefront-category-section></storefront-category-section>
<storefront-best-selling-section></storefront-best-selling-section>
<storefront-banner-blocks></storefront-banner-blocks>
<storefront-featured-products></storefront-featured-products>
<storefront-newsletter-section></storefront-newsletter-section>
<storefront-popular-products></storefront-popular-products>
<storefront-latest-products></storefront-latest-products>
<storefront-latest-blog></storefront-latest-blog>
<storefront-download-app></storefront-download-app>
<storefront-search-tags></storefront-search-tags>
<storefront-features-section></storefront-features-section>
