<!-- ===== Preloader Start ===== -->
<storefront-preloader></storefront-preloader>
<!-- ===== Preloader End ===== -->

<!-- ===== Page Wrapper Start ===== -->
<div class="flex h-screen overflow-hidden">
  <!-- ===== Sidebar Start ===== -->
  <storefront-sidebar></storefront-sidebar>
  <!-- ===== Sidebar End ===== -->

  <!-- ===== Content Area Start ===== -->
  <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
    <!-- Small Device Overlay Start -->
    <storefront-overlay></storefront-overlay>
    <!-- Small Device Overlay End -->

    <!-- ===== Header Start ===== -->
    <storefront-header></storefront-header>
    <!-- ===== Header End ===== -->

    <!-- ===== Main Content Start ===== -->
    <main>
      <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
        <div class="grid grid-cols-12 gap-4 md:gap-6">
          <div class="col-span-12 space-y-6 xl:col-span-7">
            <!-- Metric Group One -->
            <storefront-metric-group-one></storefront-metric-group-one>
            <!-- Metric Group One -->

            <!-- ====== Chart One Start -->
            <storefront-chart-one></storefront-chart-one>
            <!-- ====== Chart One End -->
          </div>
          <div class="col-span-12 xl:col-span-5">
            <!-- ====== Chart Two Start -->
            <storefront-chart-two></storefront-chart-two>
            <!-- ====== Chart Two End -->
          </div>

          <div class="col-span-12">
            <!-- ====== Chart Three Start -->
            <storefront-chart-three></storefront-chart-three>
            <!-- ====== Chart Three End -->
          </div>

          <div class="col-span-12 xl:col-span-5">
            <!-- ====== Map One Start -->
            <storefront-map-one></storefront-map-one>
            <!-- ====== Map One End -->
          </div>

          <div class="col-span-12 xl:col-span-7">
            <!-- ====== Table One Start -->
            <storefront-table-one></storefront-table-one>
            <!-- ====== Table One End -->
          </div>
        </div>
      </div>
    </main>
    <!-- ===== Main Content End ===== -->
  </div>
  <!-- ===== Content Area End ===== -->
</div>
<!-- ===== Page Wrapper End ===== -->
